In [1]:
# import required libriaries
from pathlib import Path
from helpers import *

In [2]:
# path to data directory
#path = Path('/home/jupyter/fpl-prediction/data')
path = Path('./data')

# paths to each season's data
season_paths = [path/'2016-17', path/'2017-18', path/'2018-19']

# names for each season
season_names = ['1617', '1718', '1819']

# team codes
teams = pd.read_csv(path/'teams.csv')

all_players = build_players(path, season_paths, season_names, teams)

In [3]:
# players dataset
all_players.head()

,full_name,play_proba_1617,position_1617,id_1617,cost_1617,team_1617,play_proba_1718,position_1718,id_1718,cost_1718,team_1718,play_proba_1819,position_1819,id_1819,cost_1819,team_1819
0,David_Ospina,100,1.0,1.0,47.0,3.0,100,1.0,1.0,48.0,3.0,NaN,NaN,NaN,NaN,NaN
1,Petr_Cech,100,1.0,2.0,54.0,3.0,100,1.0,2.0,53.0,3.0,100,1.0,1.0,47.0,3.0
2,Laurent_Koscielny,0,2.0,3.0,61.0,3.0,0,2.0,4.0,60.0,3.0,100,2.0,3.0,54.0,3.0
3,Per_Mertesacker,100,2.0,4.0,48.0,3.0,100,2.0,5.0,47.0,3.0,NaN,NaN,NaN,NaN,NaN
4,Gabriel Armando_de Abreu,75,2.0,5.0,48.0,3.0,0,2.0,6.0,50.0,3.0,NaN,NaN,NaN,NaN,NaN

In [4]:
# check columns are pandas series
type(all_players.loc[:,'id_1617'])

pandas.core.series.Series

In [5]:
all_players.shape

(1093, 16)

In [6]:
# teams dataset
teams

,team,team_code,team_1617,team_1718,team_1819,team_1920
0,Arsenal,3,1.0,1.0,1.0,1.0
1,Bournemouth,91,2.0,2.0,2.0,3.0
2,Burnley,90,3.0,4.0,4.0,5.0
3,Chelsea,8,4.0,5.0,6.0,6.0
4,Crystal Palace,31,5.0,6.0,7.0,7.0
5,Everton,11,6.0,7.0,8.0,8.0
6,Hull City,88,7.0,NaN,NaN,NaN
7,Leicester City,13,8.0,9.0,11.0,9.0
8,Liverpool,14,9.0,10.0,12.0,10.0
9,Manchester City,43,10.0,11.0,13.0,11.0
10,Manchester United,1,11.0,12.0,14.0,12.0
11,Middlesbrough,25,12.0,NaN,NaN,NaN
12,Southampton,20,13.0,14.0,16.0,16.0
13,Stoke City,110,14.0,15.0,NaN,NaN
14,Sunderland,56,15.0,NaN,NaN,NaN
15,Swansea City,80,16.0,16.0,NaN,NaN
16,Tottenham Hotspur,6,17.0,17.0,17.0,17.0
17,Watford,57,18.0,18.0,18.0,18.0
18,West Bromwich Albion,35,19.0,19.0,NaN,NaN
19,West Ham United,21,20.0,20.0,19.0,19.0
20,Brighton and Hove Albion,36,NaN,3.0,3.0,4.0
21,Huddersfield Town,38,NaN,8.0,10.0,NaN
22,Newcastle United,4,NaN,13.0,15.0,13.0
23,Cardiff City,97,NaN,NaN,5.0,NaN
24,Fulham,54,NaN,NaN,9.0,NaN
25,Wolverhampton Wanderers,39,NaN,NaN,20.0,20.0
26,Aston Villa,7,NaN,NaN,NaN,2.0
27,Norwich,45,NaN,NaN,NaN,14.0
28,Sheffield United,49,NaN,NaN,NaN,15.0

In [7]:
# create market value dataset for each season and combine
teams_mv = pd.concat([build_season_mv('1617', 10, range(12,32)),
                      build_season_mv('1718', 10, range(12,32)),
                      build_season_mv('1819', 10, range(12,32))], 
                     axis=0, ignore_index=True, sort=False)

ConnectionError: HTTPSConnectionPool(host='www.transfermarkt.com', port=443): Max retries exceeded with url: /premier-league/startseite/wettbewerb/GB1/plus/?saison_id=2016 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000000000988C188>: Failed to establish a new connection: [Errno 11004] getaddrinfo failed'))

In [7]:
train_df = pd.read_csv(path/'train.csv', index_col=0, dtype={'season':str})
train_df = train_df[train_df['season'] != '1920']

In [8]:
teams_mv = train_df.groupby(['team', 'relative_market_value_team', 'season']).count().reset_index().iloc[:,[0,1,2]]
teams_mv.columns = ['name', 'relative_market_value', 'season']

In [9]:
# check a season
teams_mv[teams_mv['season'] == '1819']

                        name  relative_market_value season
0                    Arsenal               1.435552   1819
5                Bournemouth               0.418108   1819
7   Brighton and Hove Albion               0.417745   1819
10                   Burnley               0.449442   1819
11              Cardiff City               0.183890   1819
14                   Chelsea               2.540586   1819
15            Crystal Palace               0.634856   1819
18                   Everton               1.039221   1819
21                    Fulham               0.405284   1819
23         Huddersfield Town               0.273778   1819
26            Leicester City               0.796050   1819
30                 Liverpool               2.177887   1819
33           Manchester City               2.540586   1819
35         Manchester United               2.015531   1819
38          Newcastle United               0.483921   1819
40               Southampton               0.654624   1819
50         Tottenham Hotspur               1.983109   1819
51                   Watford               0.412301   1819
56           West Ham United               0.749352   1819
59   Wolverhampton Wanderers               0.388177   1819

In [10]:
# create training sets for each season
df_1617 = build_season(season_paths[0], season_names[0], all_players, teams, teams_mv)
df_1718 = build_season(season_paths[1], season_names[1], all_players, teams, teams_mv)
df_1819 = build_season(season_paths[2], season_names[2], all_players, teams, teams_mv)

In [11]:
# size of each season
[x.shape for x in [df_1617, df_1718, df_1819]]

[(23679, 34), (22467, 34), (21790, 34)]

In [10]:
# size of each season
[x.shape for x in [df_1617, df_1718, df_1819]]

[(23679, 11), (22467, 11), (21790, 11)]

In [12]:
# join together into one dataframe
df_train = pd.concat([df_1617, df_1718, df_1819], ignore_index=True, axis=0)
#df_all = df_1617.append(df_1718).append(df_1819).reset_index(drop=True)

In [13]:
df_train.shape

(67936, 34)

In [14]:
df_train.tail(10)

,player,gw,position,minutes,team,opponent_team,relative_market_value_team,relative_market_value_opponent_team,was_home,total_points,...,selected,team_a_score,team_h_score,threat,transfers_balance,transfers_in,transfers_out,yellow_cards,kickoff_time,season
67926,Yerry_Mina,38,2,90,Everton,Tottenham Hotspur,1.039221,1.983109,False,1,...,31788,2,2,2.0,-45,68,113,0,2019-05-12T14:00:00Z,1819
67927,Yohan_Benalouane,38,2,0,Leicester City,Chelsea,0.796050,2.540586,True,0,...,43770,0,0,0.0,-331,119,450,0,2019-05-12T14:00:00Z,1819
67928,Yoshinori_Muto,38,4,24,Newcastle United,Fulham,0.483921,0.405284,False,1,...,3344,4,0,0.0,11,47,36,0,2019-05-12T14:00:00Z,1819
67929,Younes_Kaboul,38,2,0,Watford,West Ham United,0.412301,0.749352,True,0,...,5304,4,1,0.0,-11,6,17,0,2019-05-12T14:00:00Z,1819
67930,Youri_Tielemans,38,3,90,Leicester City,Chelsea,0.796050,2.540586,True,3,...,106893,0,0,11.0,2939,10095,7156,0,2019-05-12T14:00:00Z,1819
67931,Yves_Bissouma,38,3,90,Brighton and Hove Albion,Manchester City,0.417745,2.540586,True,2,...,1736,4,1,0.0,30,73,43,0,2019-05-12T14:00:00Z,1819
67932,Zech_Medley,38,2,0,Arsenal,Burnley,1.435552,0.449442,False,0,...,5341,3,1,0.0,62,171,109,0,2019-05-12T14:00:00Z,1819
67933,Zeze Steven_Sessegnon,38,2,0,Fulham,Newcastle United,0.405284,0.483921,True,0,...,5780,4,0,0.0,125,332,207,0,2019-05-12T14:00:00Z,1819
67934,Álvaro_Morata,38,4,0,Chelsea,Leicester City,2.540586,0.796050,False,0,...,83088,0,0,0.0,-139,15,154,0,2019-05-12T14:00:00Z,1819
67935,Çaglar_Söyüncü,38,2,0,Leicester City,Chelsea,0.796050,2.540586,True,0,...,2405,0,0,0.0,-1,11,12,0,2019-05-12T14:00:00Z,1819

In [111]:
df_train[(df_train['team'] == 'Cardiff City') & (df_train['season'] == '1819') & (df_train['gw'] == 1)]

,player,gw,position,minutes,team,opponent_team,relative_market_value_team,relative_market_value_opponent_team,was_home,total_points,...,selected,team_a_score,team_h_score,threat,transfers_balance,transfers_in,transfers_out,yellow_cards,kickoff_time,season
46173,Alex_Smithies,1,1,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,6692,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46194,Anthony_Pilkington,1,3,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,11915,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46197,Aron_Gunnarsson,1,3,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,66660,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46200,Ashley Darel Jazz_Richards,1,2,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,47860,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46224,Bobby_Reid,1,4,87,Cardiff City,Bournemouth,0.18389,0.418108,False,2,...,33401,0,2,35.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46228,Bruno_Ecuele Manga,1,2,90,Cardiff City,Bournemouth,0.18389,0.418108,False,1,...,5192,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46232,Callum_Paterson,1,3,62,Cardiff City,Bournemouth,0.18389,0.418108,False,2,...,8529,0,2,18.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46272,Danny_Ward_2,1,3,28,Cardiff City,Bournemouth,0.18389,0.418108,False,1,...,15437,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46278,David Junior_Hoilett,1,3,90,Cardiff City,Bournemouth,0.18389,0.418108,False,2,...,20590,0,2,8.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46333,Gary_Madine,1,4,2,Cardiff City,Bournemouth,0.18389,0.418108,False,1,...,51829,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46340,Greg_Cunninghamm,1,2,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,4968,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46341,Greg_Halford,1,2,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,1492,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46345,Harry_Arter,1,3,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,14476,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46395,Joe_Bennett,1,2,90,Cardiff City,Bournemouth,0.18389,0.418108,False,1,...,8863,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46398,Joe_Ralls,1,3,90,Cardiff City,Bournemouth,0.18389,0.418108,False,2,...,17494,0,2,8.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46420,Josh_Murphy,1,3,27,Cardiff City,Bournemouth,0.18389,0.418108,False,1,...,14017,0,2,22.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46433,Kenneth_Zohore,1,4,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,36149,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46449,Lee_Peltier,1,2,90,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,196285,0,2,0.0,0,0,0,1,2018-08-11T14:00:00Z,1819
46456,Loïc_Damour,1,3,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,3308,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46494,Matthew_Connolly,1,2,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,75947,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46523,Nathaniel_Mendez-Laing,1,3,62,Cardiff City,Bournemouth,0.18389,0.418108,False,2,...,3604,0,2,13.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46527,Neil_Etheridge,1,1,90,Cardiff City,Bournemouth,0.18389,0.418108,False,6,...,12072,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46534,Omar_Bogle,1,4,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,15508,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46599,Sean_Morrison,1,2,90,Cardiff City,Bournemouth,0.18389,0.418108,False,1,...,31111,0,2,41.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46614,Sol_Bamba,1,2,90,Cardiff City,Bournemouth,0.18389,0.418108,False,1,...,39138,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819
46651,Víctor_Camarasa,1,3,0,Cardiff City,Bournemouth,0.18389,0.418108,False,0,...,2384,0,2,0.0,0,0,0,0,2018-08-11T14:00:00Z,1819

In [16]:
# 'team' is from end of season but some players moved club mid-season
# so have incorrect 'team' for some rows
# get list of actual fixtures - games where there were at least 10 players
fixtures = df_train.groupby(['team', 'opponent_team', 'kickoff_time', 'season']).count()['player'][df_train.groupby(['team', 'opponent_team', 'kickoff_time', 'season']).count()['player'] > 10]
fixtures = fixtures.reset_index()[['team', 'opponent_team','kickoff_time', 'season']]
fixtures

                         team      opponent_team          kickoff_time season
0                     Arsenal        Bournemouth  2016-11-27T14:15:00Z   1617
1                     Arsenal        Bournemouth  2017-01-03T19:45:00Z   1617
2                     Arsenal        Bournemouth  2017-09-09T14:00:00Z   1718
3                     Arsenal        Bournemouth  2018-01-14T13:30:00Z   1718
4                     Arsenal        Bournemouth  2018-11-25T13:30:00Z   1819
...                       ...                ...                   ...    ...
2275  Wolverhampton Wanderers  Tottenham Hotspur  2018-12-29T15:00:00Z   1819
2276  Wolverhampton Wanderers            Watford  2018-10-20T14:00:00Z   1819
2277  Wolverhampton Wanderers            Watford  2019-04-27T14:00:00Z   1819
2278  Wolverhampton Wanderers    West Ham United  2018-09-01T14:00:00Z   1819
2279  Wolverhampton Wanderers    West Ham United  2019-01-29T19:45:00Z   1819

[2280 rows x 4 columns]

In [17]:
# replace 'team' in df_train with 'team' from fixtures
# 'opponent_team', 'kickoff_time_formatted' and 'season' are unique
# join on these
df_train['team'] = df_train.merge(fixtures, on=['opponent_team', 'kickoff_time', 'season'], how='left')['team_y']

In [110]:
df_train

,player,gw,position,minutes,team,opponent_team,relative_market_value_team,relative_market_value_opponent_team,was_home,total_points,...,selected,team_a_score,team_h_score,threat,transfers_balance,transfers_in,transfers_out,yellow_cards,kickoff_time,season
0,Aaron_Cresswell,1,2,0,West Ham United,Chelsea,0.895471,2.243698,False,0,...,14023,1,2,0.0,0,0,0,0,2016-08-15T19:00:00Z,1617
1,Aaron_Lennon,1,3,15,Everton,Tottenham Hotspur,1.057509,1.433690,True,1,...,13918,1,1,0.0,0,0,0,0,2016-08-13T14:00:00Z,1617
2,Aaron_Ramsey,1,3,60,Arsenal,Liverpool,1.944129,1.465860,True,2,...,163170,4,3,23.0,0,0,0,0,2016-08-14T15:00:00Z,1617
3,Abdoulaye_Doucouré,1,3,0,Watford,Southampton,0.704200,0.796805,False,0,...,1051,1,1,0.0,0,0,0,0,2016-08-13T14:00:00Z,1617
4,Abdul Rahman_Baba,1,2,0,Chelsea,West Ham United,2.243698,0.895471,True,0,...,1243,1,2,0.0,0,0,0,0,2016-08-15T19:00:00Z,1617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67931,Yves_Bissouma,38,3,90,Brighton and Hove Albion,Manchester City,0.417745,2.540586,True,2,...,1736,4,1,0.0,30,73,43,0,2019-05-12T14:00:00Z,1819
67932,Zech_Medley,38,2,0,Arsenal,Burnley,1.435552,0.449442,False,0,...,5341,3,1,0.0,62,171,109,0,2019-05-12T14:00:00Z,1819
67933,Zeze Steven_Sessegnon,38,2,0,Fulham,Newcastle United,0.405284,0.483921,True,0,...,5780,4,0,0.0,125,332,207,0,2019-05-12T14:00:00Z,1819
67934,Álvaro_Morata,38,4,0,Chelsea,Leicester City,2.540586,0.796050,False,0,...,83088,0,0,0.0,-139,15,154,0,2019-05-12T14:00:00Z,1819
67935,Çaglar_Söyüncü,38,2,0,Leicester City,Chelsea,0.796050,2.540586,True,0,...,2405,0,0,0.0,-1,11,12,0,2019-05-12T14:00:00Z,1819

In [112]:
# save latest training set to csv
df_train.to_csv(path/'initial_train_v2.csv')#, encoding='latin')

In [20]:
train_df = pd.read_csv(path/'train.csv', index_col=0, dtype={'season':str})
train_df = train_df[train_df['season'] == '1920']
train_df

,player,gw,position,minutes,team,opponent_team,relative_market_value_team,relative_market_value_opponent_team,was_home,total_points,season,play_proba
67936,Aaron_Cresswell,1,2,90,West Ham United,Manchester City,0.739196,2.727025,True,0,1920,1.0
67937,Aaron_Lennon,1,3,6,Burnley,Southampton,0.441799,0.624210,True,1,1920,1.0
67938,Aaron_Mooy,1,3,0,Brighton and Hove Albion,Watford,0.476156,0.555819,False,0,1920,NaN
67939,Aaron_Ramsdale,1,1,90,Bournemouth,Sheffield United,0.687124,0.150631,True,2,1920,1.0
67940,Aaron_Wan-Bissaka,1,2,90,Manchester United,Chelsea,1.679697,1.798870,True,8,1920,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
78969,Grant_Hanley,20,2,90,Norwich,Tottenham Hotspur,0.295212,2.001099,True,1,1920,1.0
78970,Roberto_Pereyra,20,3,0,Watford,Aston Villa,0.433797,0.522434,True,0,1920,1.0
78971,Sead_Kolasinac,20,2,0,Arsenal,Chelsea,1.413491,1.757609,True,0,1920,0.0
78972,Stuart_Armstrong,20,3,22,Southampton,Crystal Palace,0.469252,0.464142,True,1,1920,1.0
78973,Rúben Diogo_da Silva Neves,20,3,57,Wolverhampton Wanderers,Liverpool,0.746215,2.460966,False,1,1920,1.0

In [21]:
teams_mv = train_df.groupby(['team', 'season']).count().reset_index().iloc[:,[0,1]]
teams_mv.columns = ['name', 'season']
teams_mv['relative_market_value'] = 1
teams_mv

                        name season  relative_market_value
0                    Arsenal   1920                      1
1                Aston Villa   1920                      1
2                Bournemouth   1920                      1
3   Brighton and Hove Albion   1920                      1
4                    Burnley   1920                      1
5                    Chelsea   1920                      1
6             Crystal Palace   1920                      1
7                    Everton   1920                      1
8             Leicester City   1920                      1
9                  Liverpool   1920                      1
10           Manchester City   1920                      1
11         Manchester United   1920                      1
12          Newcastle United   1920                      1
13                   Norwich   1920                      1
14          Sheffield United   1920                      1
15               Southampton   1920                      1
16         Tottenham Hotspur   1920                      1
17                   Watford   1920                      1
18           West Ham United   1920                      1
19   Wolverhampton Wanderers   1920                      1

In [22]:
# path to current season
season_paths = [path/'2019-20']

# name for current season
season_names = ['1920']

# team codes
teams = pd.read_csv(path/'teams.csv')

# create players dataset
all_players = build_players(path, season_paths, season_names, teams)

In [23]:
df_latest = build_season(season_paths[0], season_names[0], all_players, teams, teams_mv, range(1, 21))

In [69]:
train_df = train_df[['player', 'gw', 'team', 'relative_market_value_team', 'relative_market_value_opponent_team', 'play_proba']]
train_df

,player,gw,team,relative_market_value_team,relative_market_value_opponent_team,play_proba
67936,Aaron_Cresswell,1,West Ham United,0.739196,2.727025,1.0
67937,Aaron_Lennon,1,Burnley,0.441799,0.624210,1.0
67938,Aaron_Mooy,1,Brighton and Hove Albion,0.476156,0.555819,NaN
67939,Aaron_Ramsdale,1,Bournemouth,0.687124,0.150631,1.0
67940,Aaron_Wan-Bissaka,1,Manchester United,1.679697,1.798870,1.0
...,...,...,...,...,...,...
78969,Grant_Hanley,20,Norwich,0.295212,2.001099,1.0
78970,Roberto_Pereyra,20,Watford,0.433797,0.522434,1.0
78971,Sead_Kolasinac,20,Arsenal,1.413491,1.757609,0.0
78972,Stuart_Armstrong,20,Southampton,0.469252,0.464142,1.0
78973,Rúben Diogo_da Silva Neves,20,Wolverhampton Wanderers,0.746215,2.460966,1.0

In [55]:
df_latest

,player,gw,position,minutes,team,opponent_team,relative_market_value_team,relative_market_value_opponent_team,was_home,total_points,...,selected,team_a_score,team_h_score,threat,transfers_balance,transfers_in,transfers_out,yellow_cards,kickoff_time,season
0,Aaron_Cresswell,1,2,90,West Ham United,Manchester City,1,1,True,0,...,23399,5,0,0.0,0,0,0,0,2019-08-10T11:30:00Z,1920
1,Aaron_Lennon,1,3,6,Burnley,Southampton,1,1,True,1,...,8105,0,3,0.0,0,0,0,0,2019-08-10T14:00:00Z,1920
2,Aaron_Mooy,1,3,0,Brighton and Hove Albion,Watford,1,1,False,0,...,16261,3,0,0.0,0,0,0,0,2019-08-10T14:00:00Z,1920
3,Aaron_Ramsdale,1,1,90,Bournemouth,Sheffield United,1,1,True,2,...,3091,1,1,0.0,0,0,0,0,2019-08-10T14:00:00Z,1920
4,Aaron_Wan-Bissaka,1,2,90,Manchester United,Chelsea,1,1,True,8,...,1879259,0,4,2.0,0,0,0,0,2019-08-11T15:30:00Z,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11033,Grant_Hanley,20,2,90,Norwich,Tottenham Hotspur,1,1,True,1,...,144601,2,2,4.0,1237,3686,2449,0,2019-12-28T17:30:00Z,1920
11034,Roberto_Pereyra,20,3,0,Watford,Aston Villa,1,1,True,0,...,46937,0,3,0.0,83,619,536,0,2019-12-28T15:00:00Z,1920
11035,Sead_Kolasinac,20,2,0,Arsenal,Chelsea,1,1,True,0,...,38674,2,1,0.0,-1303,6,1309,0,2019-12-29T14:00:00Z,1920
11036,Stuart_Armstrong,20,3,22,Southampton,Crystal Palace,1,1,True,1,...,6223,1,1,2.0,300,385,85,0,2019-12-28T15:00:00Z,1920
11037,Rúben Diogo_da Silva Neves,20,3,57,Wolverhampton Wanderers,Liverpool,1,1,False,1,...,356827,0,1,8.0,-4146,2817,6963,0,2019-12-29T16:30:00Z,1920

In [71]:
df_new = df_latest.merge(train_df, on=['player', 'gw', 'team'], how='left')

In [84]:
list(range(6)) + list(range(8,38))

[0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37]

In [80]:
np.arange(8,38)

array([ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
       25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37])

In [88]:
df_new = df_new.iloc[:,list(range(6)) + list(range(8,37))]

In [109]:
df_new.columns

Index(['player', 'gw', 'position', 'minutes', 'team', 'opponent_team',
       'was_home', 'total_points', 'assists', 'bonus', 'bps', 'clean_sheets',
       'creativity', 'goals_conceded', 'goals_scored', 'ict_index',
       'influence', 'own_goals', 'penalties_missed', 'penalties_saved',
       'red_cards', 'saves', 'selected', 'team_a_score', 'team_h_score',
       'threat', 'transfers_balance', 'transfers_in', 'transfers_out',
       'yellow_cards', 'kickoff_time', 'season', 'relative_market_value_team',
       'relative_market_value_opponent_team', 'play_proba'],
      dtype='object')

In [108]:
df_new.columns = ['player', 'gw', 'position', 'minutes', 'team', 'opponent_team',
       'was_home', 'total_points', 'assists', 'bonus', 'bps', 'clean_sheets',
       'creativity', 'goals_conceded', 'goals_scored', 'ict_index',
       'influence', 'own_goals', 'penalties_missed', 'penalties_saved',
       'red_cards', 'saves', 'selected', 'team_a_score', 'team_h_score',
       'threat', 'transfers_balance', 'transfers_in', 'transfers_out',
       'yellow_cards', 'kickoff_time', 'season',
       'relative_market_value_team', 'relative_market_value_opponent_team',
       'play_proba']

In [120]:
df_train_v2 = pd.concat([df_train, df_new], ignore_index=True, sort=False, axis=0)

In [121]:
df_train_v2.to_csv(path/'train_v2.csv')

In [23]:
# save latest training set to csv
df_train.to_csv(path/'initial_train.csv')#, encoding='latin')

In [46]:
## now need to create the prediction set
# start by reading fixtures.csv
# set starting gameweek (where are we right now in the season)
current_gw = 1
fixtures = pd.read_csv(path/'fixtures.csv')
fixtures = fixtures[fixtures['gw'] >= current_gw]

In [47]:
fixtures.head(10)

           home_team                 away_team  gw
0          Liverpool                   Norwich   1
1    West Ham United           Manchester City   1
2        Bournemouth          Sheffield United   1
3            Burnley               Southampton   1
4     Crystal Palace                   Everton   1
5            Watford  Brighton and Hove Albion   1
6  Tottenham Hotspur               Aston Villa   1
7     Leicester City   Wolverhampton Wanderers   1
8   Newcastle United                   Arsenal   1
9  Manchester United                   Chelsea   1

In [48]:
# add team codes for home and away teams
fixtures = fixtures.merge(teams, left_on='home_team', right_on='team', how='left')
fixtures = fixtures.merge(teams, left_on='away_team', right_on='team', how='left')
fixtures = fixtures[['gw', 'home_team', 'away_team', 'team_code_x', 'team_code_y']]
fixtures.rename(index=str,
                columns={'team_code_x':'home_team_code',
                         'team_code_y':'away_team_code'},
                inplace=True)

In [49]:
fixtures.head()

   gw        home_team         away_team  home_team_code  away_team_code
0   1        Liverpool           Norwich              14              45
1   1  West Ham United   Manchester City              21              43
2   1      Bournemouth  Sheffield United              91              49
3   1          Burnley       Southampton              90              20
4   1   Crystal Palace           Everton              31              11

In [50]:
# join home team to all players for current season
home_df = fixtures.merge(all_players, 
               left_on='home_team_code', 
               right_on='team_1920', 
               how='left')

# pull out the required fields and rename columns
home_df = home_df[['gw', 'home_team', 'away_team', 'full_name', 'position_1920', 'cost_1920', 'play_proba_1920']]
home_df.rename(index=str, 
               columns={'home_team':'team',
                        'away_team':'opponent_team',
                        'full_name':'player',
                        'position_1920':'position',
                        'cost_1920':'price',
                        'play_proba_1920':'play_proba'},
              inplace=True)

# add home flag
home_df['was_home'] = True

In [51]:
# join away team to all players for current season
away_df = fixtures.merge(all_players, 
               left_on='away_team_code', 
               right_on='team_1920', 
               how='left')

# pull out the required fields and rename columns
away_df = away_df[['gw',  'away_team', 'home_team', 'full_name', 'position_1920', 'cost_1920', 'play_proba_1920']]
away_df.rename(index=str, 
               columns={'away_team':'team',
                        'home_team':'opponent_team',
                        'full_name':'player',
                        'position_1920':'position',
                        'cost_1920':'price',
                        'play_proba_1920':'play_proba'},
              inplace=True)

# add home flag
away_df['was_home'] = False

In [52]:
# look at away players
away_df.head()

,gw,team,opponent_team,player,position,price,play_proba,was_home
0,1,Norwich,Liverpool,Sam_Byram,2.0,45.0,None,False
1,1,Norwich,Liverpool,Tim_Krul,1.0,45.0,None,False
2,1,Norwich,Liverpool,Grant_Hanley,2.0,40.0,None,False
3,1,Norwich,Liverpool,Timm_Klose,2.0,45.0,0,False
4,1,Norwich,Liverpool,Ben_Godfrey,2.0,45.0,100,False

In [53]:
# look at home players
home_df.head()

,gw,team,opponent_team,player,position,price,play_proba,was_home
0,1,Liverpool,Norwich,Alex_Oxlade-Chamberlain,3.0,65.0,None,True
1,1,Liverpool,Norwich,Andrew_Robertson,2.0,70.0,None,True
2,1,Liverpool,Norwich,Simon_Mignolet,1.0,45.0,0,True
3,1,Liverpool,Norwich,Dejan_Lovren,2.0,55.0,None,True
4,1,Liverpool,Norwich,Joseph_Gomez,2.0,55.0,None,True

In [58]:
home_df.loc[home_df['play_proba'] == 'None', 'play_proba'] = 100

0       None
1       None
3       None
4       None
5       None
6       None
7       None
9       None
10      None
11      None
12      None
14      None
15      None
16      None
17      None
19      None
20      None
21      None
22      None
23      None
24      None
27      None
28      None
29      None
32      None
33      None
34      None
35      None
36      None
37      None
        ...
9672    None
9673    None
9674    None
9676    None
9677    None
9679    None
9680    None
9681    None
9682    None
9683    None
9686    None
9687    None
9688    None
9691    None
9692    None
9693    None
9694    None
9695    None
9696    None
9698    None
9699    None
9700    None
9701    None
9702    None
9703    None
9704    None
9705    None
9706    None
9707    None
9708    None
Name: play_proba, Length: 7695, dtype: object

In [72]:
# concatenate home and away players
remaining_season_df = home_df.append(away_df).reset_index(drop=True)

# add home and away team market values
remaining_season_df = remaining_season_df.merge(teams_mv[teams_mv['season'] == '1920'],
                                                left_on='team', 
                                                right_on='name', 
                                                how='left').drop(['name', 'season'], axis=1)

remaining_season_df = remaining_season_df.merge(teams_mv[teams_mv['season'] == '1920'],
                                                left_on='opponent_team', 
                                                right_on='name', 
                                                how='left').drop(['name', 'season'], axis=1)

remaining_season_df.rename(index=str, 
                           columns={'relative_market_value_x':'relative_market_value_team',
                                    'relative_market_value_y':'relative_market_value_opponent_team'},
                           inplace=True)

# add season name
remaining_season_df['season'] = '1920'

# divide cost by 10 for actual cost
remaining_season_df['price'] = remaining_season_df['price']/10

# set availability probability
# 0 = 0% chance, 25 = 25% chance, etc
# 'None' or '100' = 100% chance
remaining_season_df.loc[remaining_season_df['play_proba'] == 'None', 'play_proba'] = 100
remaining_season_df['play_proba'] = remaining_season_df['play_proba'].astype('float') / 100

# set minutes equal to 90 multiplied by their play probabiliby for all players, for now
remaining_season_df['minutes'] = 90 * remaining_season_df['play_proba']

# cast position to integer
remaining_season_df['position'] = remaining_season_df['position'].astype(int)

In [76]:
remaining_season_df.head()

,gw,team,opponent_team,player,position,price,play_proba,was_home,relative_market_value_team,relative_market_value_opponent_team,season,minutes
0,1,Liverpool,Norwich,Alex_Oxlade-Chamberlain,3,6.5,1.0,True,2.291459,0.197772,1920,90.0
1,1,Liverpool,Norwich,Andrew_Robertson,2,7.0,1.0,True,2.291459,0.197772,1920,90.0
2,1,Liverpool,Norwich,Simon_Mignolet,1,4.5,0.0,True,2.291459,0.197772,1920,0.0
3,1,Liverpool,Norwich,Dejan_Lovren,2,5.5,1.0,True,2.291459,0.197772,1920,90.0
4,1,Liverpool,Norwich,Joseph_Gomez,2,5.5,1.0,True,2.291459,0.197772,1920,90.0

In [77]:
# save latest prediction set to csv
remaining_season_df.to_csv(path/'remaining_season.csv')